<p>The frontend forthis proyect was build using <a href="http://getbootstrap.com/">bootstrap</a> and also <a href="https://twitter.com/mdo"> Mark Motto's</a> bootstrap blog template.</p>

<p>The backend was build using sinatra and it implements the following gems: <ul>
	<li><a href="http://www.sinatrarb.com/intro.html">sinatra </a></li>
	<li><a href="http://datamapper.org/">data_mapper</a></li>
	<li><a href="http://flori.github.io/json/doc/index.html">json</a></li>
	<li><a href="http://www.rubydoc.info/gems/dm-tags/1.2.0/">dm-tags</a></li>
	<li><a href="https://github.com/yb66/Sinatra-Partial">sinatra-partial</a></li>
	<li><a href="https://github.com/cldwalker/debugger">debugger</a></li>
	<li><a href="https://relishapp.com/rspec">rspec</a></li>
	<li><a href="http://www.rubydoc.info/gems/rack-test/0.6.2/frames">rack-test</a></li>
</ul>
</p>