<html lang="en" class=""><head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ptt Blog</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/styles.css" rel="stylesheet">
</head>

<body>

  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="/">Home</a>
        <a class="blog-nav-item" href="/about">About</a>
      </nav>
    </div>
  </div>

  <div class="container">

    <div class="blog-header">
  <div class="blog-title">awesome witty title</div>

    </div>

    <div class="row">
      <div class="col-sm-8 blog-main">

        <%= yield %>
      </div><!-- /.blog-main -->

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Popular tags<small>(all of them are)</small></h4>
            <ol class="list-unstyled">
              <%   settings.taglist.each do|key, value|  %>
              <li>
                <a href="/tags/<%= key %>"> <%= key %>(<%= value  %>)</a>
              </li>
              <% end %>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
  </html>