 
<div class="blog-post">
	<% if @post.nil? %>
		<p>We're sorry to inform you that we don't have that post available right now... but some day we might!!
		</p>
		<labl>feel free to <a href="/">browse</a> around our archive, might find something of interest.</labl>
	<% else %>
<h2 class="blog-post-title"><%= @post.title %></h2>
	<ul>
		<% @post.tag_list.collect do |tag| %>
		<li><%= tag%></li>
		<% end %>
	</ul>
	<p><%= @post.description%></p>
	<% end %>
	
</div><!-- /.blog-post -->
