<h1><%= @title %></h1>
<% if @posts.nil? || @posts.any? == false %>

	<p>There appear to be no posts with that tag right now, please come by and check later.</p>    
    <% else %>
    <%= partial "short_post", :locals => {:posts => @posts} %>
<% end %>
