<h1><%= @title %></h1>
<% @posts.each do |post| %>
<div class="blog-post">
  <h2 class="blog-post-title"><%= post.title %></h2>

  <ul>
  	<% post.tag_list.collect do |tag| %>
  	<li><%= tag%></li>
  	<% end %>
  </ul>
  <p><%= post.short_description%></p>
          </div><!-- /.blog-post -->
<% end %>
